.WeatherDetails {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.WeatherDetails .current-weather {
    display: flex;
    margin: 1rem 0;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .current-weather {
        flex-direction: row;
        margin: 2rem 0;
    }
}

@media (max-height: 700px) {
    .current-weather {
        margin: 1rem 0;
    }
}