.Layout {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.weather-card {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: var(--border-radius);
}

@media (min-width: 1280px) {
    .weather-card {
        padding: 3rem;
    }
}

@media (min-width: 1024px) {
    .Layout {
        padding: 2rem;
    }
    .weather-card {
        padding: 2.5rem;
    }
}

@media (min-width: 768px) {

    .Layout {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .weather-card {
        max-width: 900px;
        /* min-height: auto; */
        padding: 2rem;
        border-radius: var(--border-radius);
    }

}

@media (max-height: 700px) {
    .weather-card {
        padding: 1rem;
    }
}
